.App {
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
  display: flex;
}
nav {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* menu */
ul {
  list-style-type: none;
  padding-inline-end: 40px;
}
li {
  margin: 10px 0;
}



/* shop page */
.shop {
  padding: 3%;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 15%;
  gap: 2%;
}
.products a:nth-child(2) {
  grid-column: 3;
  grid-row: 2 / 4;
}
.products a:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.product img {
  width: 100%;
  height: 100%;
}



/* contact page */
.contact {
  padding: 3%;
}