.App {
    width: 100%;
}
/*
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.App-header {
  display: flex;
}
nav {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background: url(../assets/background-textured-5.jpg);
    background-size: cover;
}
header .content {
  width: 100%;
  padding: 30px 5%;
  background: url(../assets/background-textured-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* menu */
ul {
  list-style-type: none;
  padding-inline-end: 40px;
}
li {
  margin: 10px 0;
}



/* shop page */
.shop {
  padding: 3%;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 15%;
  gap: 2%;

  & img {
    width: 70%;
    height: 100%;
    object-fit: cover;
  }

  & a:nth-child(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }
  & a:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}
a.product {
  display: flex;
  background-color: #fff;
}


/* contact page */
.contact {
  padding: 3%;
}


/* home page */
section.facts {
  width: 80%;
  margin-inline: auto;

  & h3 {
    padding-inline: 60px;
  }
}

.facts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 0;
  background-color: #fff;
  padding: 30px;
}

section.product-1 {
  background: url(https://cdn.foreverliving.com/content/cards/images/home_aloeveragel_banner_1120x350_1621760979531.jpg);
  height: 20vw;
  width: 85%;
  margin-inline: auto;

  & div {
    width: 30%;
    float: right;
    padding: 25px;
    margin-top: 10%;
    text-align: right;
  }

  & button {
    float: left;
    padding: 5px 15px;
  }

}
